
# Create deployment and service to test ingress:

apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-a
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-a
  template:
    metadata:
      labels:
        app: service-a
    spec:
      containers:
      - name: service-a
        image: nginx
        ports:
        - containerPort: 80
        # Simple HTML to identify the backend
        command: ["/bin/sh", "-c"]
        args:
          - echo '<h1>Hello from Service A</h1>' > /usr/share/nginx/html/index.html && nginx -g 'daemon off;'

---
apiVersion: v1
kind: Service
metadata:
  name: service-a
spec:
  selector:
    app: service-a
  ports:
  - port: 80
    targetPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-b
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-b
  template:
    metadata:
      labels:
        app: service-b
    spec:
      containers:
      - name: service-b
        image: nginx
        ports:
        - containerPort: 80
        command: ["/bin/sh", "-c"]
        args:
          - echo '<h1>Hello from Service B</h1>' > /usr/share/nginx/html/index.html && nginx -g 'daemon off;'

---
apiVersion: v1
kind: Service
metadata:
  name: service-b
spec:
  selector:
    app: service-b
  ports:
  - port: 80
    targetPort: 80
